.products {
	.product-modal {
		.content {
			.brand {
        color: gray;
        font-size: 13px;
        margin-top: 20px;
      }
      .name {
        color: #414141;
      }
      .price {
        margin-top: 20px;
        font-size: 18px;
        font-weight: bold;
      }
      form {
        button {
          float: right;
          margin-top: 30px;
          font-size: 30px;
        }
      }
		}
	}
}